ul(class="nav nav-pills flex-column mb-auto")
  li(class="nav-item")
    a(href="#" class="nav-link active" aria-current="page") Home
  li
    a(href="#" class="nav-link link-body-emphasis") Dashboard
  li
    a(href="#" class="nav-link link-body-emphasis") Orders
  li
    a(href="#" class="nav-link link-body-emphasis") Products
  li
    a(href="#" class="nav-link link-body-emphasis") Customers