ul(class="nav nav-pills flex-column mb-auto")
  li(class="nav-item")
    a(href="#" class="nav-link active" aria-current="page") Slet booking
  li
    a(href="#" class="nav-link link-body-emphasis") Dansehold
  li
    a(href="#" class="nav-link link-body-emphasis") Events
  li
    a(href="#" class="nav-link link-body-emphasis") Slet booking
  li
    a(href="#" class="nav-link link-body-emphasis") Se profiler