include includes/head
include includes/header

h1(class="text-center mb-4") Booking
div(class="container mt-4")
  div(class="row")
    div(class="col")
      div(class="mx-auto")
        table(class="table table-bordered")
          thead
            tr
              th
              th Mandag
              th Tirsdag
              th Onsdag
              th Torsdag
              th Fredag
              th Lørdag
              th Søndag
          tbody(class="text-center")
            tr
              td 08:00
            tr
              td 09:00
            tr
              td 10:00
            tr
              td 11:00
            tr
              td 12:00
            tr
              td 13:00
            tr
              td 14:00
            tr
              td 15:00
            tr
              td 16:00
            tr
              td 17:00
            tr 
              td 18:00
            tr
              td 19:00
            tr
              td 20:00
            tr
              td 21:00
            tr
              td 22:00
    div(class="col")
      div(class="mx-auto")
        div(class="dropdown-menu d-block position-static p-2 mx-auto shadow rounded-3 w-340px")
          div(class="d-grid gap-1")
            div(class="cal")
              div(class="cal-month")
                button(class="btn cal-btn" type="button")
                  i(class="bi-arrow-left-short" width="16" height="16")
                strong(class="cal-month-name") Juni
                select(class="form-select cal-month-name d-none")
                  option(value="January") Januar
                  option(value="February") Februar
                  option(value="March") Marts
                  option(value="April") April
                  option(value="May") Maj
                  option(selected="" value="June") Juni
                  option(value="July") Juli
                  option(value="August") August
                  option(value="September") September
                  option(value="October") October
                  option(value="November") November
                  option(value="December") December
                button(class="btn cal-btn" type="button")
                  i(class="bi-arrow-right-short" width="16" height="16")
              div(class="cal-weekdays text-body-secondary")
                div(class="cal-weekday") Man
                div(class="cal-weekday") Tirs
                div(class="cal-weekday") Ons
                div(class="cal-weekday") Tors
                div(class="cal-weekday") Fre
                div(class="cal-weekday") Lør
                div(class="cal-weekday") Søn
              div(class="cal-days")
                button(class="btn cal-btn" disabled="" type="button") 30
                button(class="btn cal-btn" disabled="" type="button") 31
                button(class="btn cal-btn" type="button") 1
                button(class="btn cal-btn" type="button") 2 
                button(class="btn cal-btn" type="button") 3
                button(class="btn cal-btn" type="button") 4
                button(class="btn cal-btn" type="button") 5
                button(class="btn cal-btn" type="button") 6
                button(class="btn cal-btn" type="button") 7
                button(class="btn cal-btn" type="button") 8
                button(class="btn cal-btn" type="button") 9
                button(class="btn cal-btn" type="button") 10
                button(class="btn cal-btn" type="button") 11
                button(class="btn cal-btn" type="button") 12
                button(class="btn cal-btn" type="button") 13
                button(class="btn cal-btn" type="button") 14
                button(class="btn cal-btn" type="button") 15
                button(class="btn cal-btn" type="button") 16
                button(class="btn cal-btn" type="button") 17
                button(class="btn cal-btn" type="button") 18
                button(class="btn cal-btn" type="button") 19
                button(class="btn cal-btn" type="button") 20
                button(class="btn cal-btn" type="button") 21
                button(class="btn cal-btn" type="button") 22
                button(class="btn cal-btn" type="button") 23
                button(class="btn cal-btn" type="button") 24
                button(class="btn cal-btn" type="button") 25
                button(class="btn cal-btn" type="button") 26
                button(class="btn cal-btn" type="button") 27
                button(class="btn cal-btn" type="button") 28
                button(class="btn cal-btn" type="button") 29
                button(class="btn cal-btn" type="button") 30
      br
      div(class="ms-auto mx-auto w-340px")
        div(class="form-floating")
          select(class="form-select" id="floatingSelect" aria-label="Floating label select example")
            each lokale in lokaler
              option(selected) #{lokale.docID}
          label(for="floatingSelect") Vælg lokale
          br
        button(type="submit" class="btn btn-primary w-100 py-2") Book 
