include includes/head
include includes/header

.container(class="mt-4")
    row
        col-md-8
            h1 Rediger Profil
            form(action="/profil/edit", method="POST", class="needs-validation", novalidate)
                div(class="form-floating mb-3")
                    input(type="text", name="username", class="form-control", id="floatingUsername", placeholder="Username", value=username, required)
                    label(for="floatingUsername") Brugernavn
                
                div(class="form-floating mb-3")
                    input(type="email", name="email", class="form-control", id="floatingEmail", placeholder="Email", value=email, required)
                    label(for="floatingEmail") E-mail
                
                div(class="form-floating mb-3")
                    input(type="text", name="mobilnummer", class="form-control", id="floatingMobilnummer", placeholder="Mobilnummer", value=mobilnummer, required)
                    label(for="floatingMobilnummer") Mobilnummer
                
                button(type="submit", class="btn btn-primary w-100 py-2") Gem ændringer
                

include includes/footer
