include includes/head
include includes/header
h1(class="text-center mb-4") Forside
div(class="text-center")
    img(src="/images/smukkepeter.jpg", class="img-fluid rounded w-340px mx-auto")
include includes/footer