include includes/head
include includes/header

.container.mt-4
    .row
        .col-md-8.offset-md-2
            h2(class="text-center mb-4") Brugerprofil
            .card
                .card-body
                    form
                        .form-floating.mb-3
                            input(type="text", class="form-control", id="floatingUsername", placeholder="Username", value=username, disabled)
                            label(for="floatingUsername") Brugernavn
                        .form-floating.mb-3
                            input(type="email", class="form-control", id="floatingEmail", placeholder="Email", value=email, disabled)
                            label(for="floatingEmail") E-mail
                        .form-floating.mb-3
                            input(type="text", class="form-control", id="floatingMobilnummer", placeholder="Mobilnummer", value=mobilnummer, disabled)
                            label(for="floatingMobilnummer") Mobilnummer
                    a(href='/profil/edit', class='btn btn-primary mt-3') Rediger profil

include includes/footer



